@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="google-site-verification" content="q739y2w11QWy-y_n6Gl5zH6ZXvkkpyNxsSn4_BJP_Og" />
    <title>Object moved</title>
</head>
<body>
    <h2>Object moved to <a href="@ViewBag.Url">here</a>.</h2>
</body>
</html>

