@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="q739y2w11QWy-y_n6Gl5zH6ZXvkkpyNxsSn4_BJP_Og" />
</head>
<body>
    <div>
        Site moved to <a href="http://wheretobuy.putinyourbasket.com/">http://wheretobuy.putinyourbasket.com/</a>
    </div>
</body>
</html>
